# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.swp
*.swo

# Cache
.cache/

# Dependencies
node_modules/

# Build output
dist/

# Test
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Generated
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.production
.env.*.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Confidential
/.doc/trademark
